*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
overflow:hidden;
background:#111;
}

canvas{
width:100vw;
height:100vh;
display:block;
}

#menu{

position:absolute;

width:100%;
height:100%;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

background:linear-gradient(160deg,#1e3cff,#7209b7);

z-index:5;

}

h1{

font-size:70px;
color:white;
margin-bottom:30px;

text-shadow:0 0 20px cyan;

animation:logo 2s infinite;

}

@keyframes logo{

50%{
transform:scale(1.05);
}

}

button{

padding:20px 60px;
font-size:30px;
border:none;
border-radius:50px;

background:gold;

cursor:pointer;

transition:.2s;

}

button:hover{

transform:scale(1.08);

}

#hud{

position:absolute;
top:20px;
left:20px;

color:white;

font-size:28px;

text-shadow:2px 2px 4px black;

z-index:2;

}

#players{

margin-top:15px;
font-size:20px;

}
