body{

background:#111;

color:white;

font-family:Arial;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:100vh;

}

input{
width:260px;
margin:10px;
}

button{

width:240px;
height:60px;
margin:10px;

font-size:22px;
border:none;
border-radius:20px;

}
